{% extends 'layout/base.html' %}

{% block content %}
{% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

<div class="container py-5">
    <h1 class="text-center mb-4">Booked Details</h1>

<h1>{{booking.is_confirmed }}</h1>
    {% if bookings %}
      <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
            <tr>
              <th scope="col">Hall Name</th>
              <th scope="col">Location</th>
              <th scope="col">Date</th>
              <th scope="col">Time Slot</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in bookings %}
              <tr>
                <td><a href="{% url 'hall_details' booking.hall.id %}">{{ booking.hall.name }}</td></a>
                <td>{{ booking.hall.location }}</td>
                <td>{{ booking.start_date }} - {{ booking.end_date }}</td>
                <td>{{ booking.start_time }} - {{ booking.end_time }}</td>
                <td>
                  {% if booking.is_confirmed %}
                    <span class="badge bg-success">Confirmed</span>
                  {% else %}
                    <span class="badge bg-danger">Canceled</span>
                  {% endif %}
                </td>
                <td>
                  {% if booking.is_confirmed %}
                    <form action="{% url 'hall_bookings' %}" method="POST" class="d-inline-block">
                      {% csrf_token %}
                      <input type="hidden" name="booking_id" value="{{ booking.id }}">
                      <button type="submit" class="btn btn-danger btn-sm">Cancel Booking</button>
                    </form>
                  {% else %}
                    <span class="text-muted">Already Canceled</span>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p class="alert alert-warning">You have no bookings.</p>
    {% endif %}
  </div>
{% endblock %}
