{% extends 'layout/base.html' %}
{% load static %}



{% block title %}
<!-- Titel for specified to individual -->
Create Appointment
{% endblock %}




{% block extra_css %}
  <!-- Extra css specified to individual -->
{% endblock %}




{% block content %}
<!-- Main content specified to individual -->
<body>
    <div class="container">
        <h2>Create Appointment with {{ hall.name}}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-2">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-2">
                <label for="hall_id" class="form-label">Hall Name</label>
                <input type="text" class="form-control" value="{{ hall.name }}" id="hall_name" disabled>
            </div>
            <div class=" row mb-2">
                <div class="col-md-6">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" id="date" name="date" required>
                </div>
                <div class="col-md-3">
                    <label for="start_time" class="form-label">Start Time</label>
                    <input type="time" class="form-control" id="start_time" name="start_time" required>
                </div>
                <div class="col-md-3">
                    <label for="end_time" class="form-label">End Time</label>
                    <input type="time" class="form-control" id="end_time" name="end_time" required>
                </div>
            </div>
            <div class="mb-2">
                <label for="type" class="form-label">Type</label>
                <select class="form-select" id="type" name="type">
                    <option value="physical">Physical</option>
                    <option value="virtual">Virtual</option>
                </select>
            </div>
            <div class="mb-2">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create Appointment</button>
            <a href="{% url 'hall_details' hall.id %} "class="btn btn-secondary">Back</a>
        </form>
    </div>
</body>
{% endblock %}


{% block extra_js %}
<!-- Extra JS specific to individual pages -->
{% endblock %}

