










<style></style>

<footer class="bg-dark text-white text-center text-lg-start mt-5">
    <div class="container p-4">
        <!-- Footer Links -->
        <div class="row">
            <!-- Column 1: About -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">About Us</h5>
                <p>
                    Here you can write some information about your website, like its purpose or values.
                </p>
            </div>

            <!-- Column 2: Links -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#!" class="text-white">Home</a></li>
                    <li><a href="#!" class="text-white">Services</a></li>
                    <li><a href="#!" class="text-white">About</a></li>
                    <li><a href="#!" class="text-white">Contact</a></li>
                </ul>
            </div>

            <!-- Column 3: Social Media -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Follow Us</h5>
                <a href="#!" class="text-white me-3">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#!" class="text-white me-3">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#!" class="text-white me-3">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#!" class="text-white">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3 bg-dark text-white">
        &copy; 2024 Your Website | All rights reserved.
    </div>
</footer>